{
  "presets": ["latest-minimal", "react"],
  "plugins": ["react-html-attrs", "transform-class-properties", "transform-decorators-legacy"],
  "env": {
    "production": {
      "plugins": ["transform-regenerator", "transform-runtime"],
      "presets": ["es2015"],
    },
    "development": {
      "presets": ["latest-minimal"],
    },
  }
}
