{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "env": {
      "browser": true,
      "node": true,
    },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "semi": 0,
    "comma-dangle": 0
  },
}
