@import "fonts.scss";

//FUENTES
$light:  'StagSans-Light';
$regular:  'StagSans-Book';
$bold:  'StagSans-Semibold';

$base: #666;
$white: #fff;
$red: #c4c4c4;
$blue:  #0192D5;
$body: #fafafa;
$borders: #ddd;
